/*
* Stacks as Design system Card
* In the beginning there were no Card, so we created a Stack. Then someone say
* lets there be a card. We cannot remove the stack layout with markup for backward
* compatibility. Instead we add card classes through preprocess and extend some
* other to the original stack markup.
 */
.stack {
  // Can be removed once https://github.com/govau/design-system-components/issues/822 is done.
  height: 100%;
}

.stack__image {
  img {
    display: block;
    width: 100%;
  }
}

// Stack title is extended to Card title.
.stack__title {
  @extend .au-card__title;

  .au-card--clickable & {
    a {
      @extend .au-card--clickable__link;
    }
  }
}

// Stack content is extened to Card inner.
.stack__content {
  @extend .au-card__inner;

  // All regions has one third unit gap between them.
  *[class^='stack__'] + *[class^='stack__'] {
    @include AU-space(margin-top, .3unit);
  }
}

// Stack/cards looks the same on all backgrounds.
.au-body--alt,
.au-body--dark,
.au-body--dark.au-body--alt,
.color--alt,
.color--dark,
.color--dark-alt {
  .stack {
    color: $AU-color-foreground-text;

    a {
      color: $AU-color-foreground-action;

      &:hover {
        color: $AU-color-foreground-text;
      }
    }
  }
}
